$dark-purple: #635fc7;
$light-purple: #a8a4ff;
$black: #000112;
$darkest-gray: #20212c;
$dark-gray: #2b2c37;
$medium-gray: #3e3f4e;
$gray: #828fa3;
$light-gray: #e4ebfa;
$lightest-gray: #f4f7fd;
$white: #fff;
$red: #ea5555;
$light-red: #ff9898;

@mixin font($fontsize, $lineHeight){
    font-size: $fontsize;
    line-height: $lineHeight;
}

@media (min-width: 60em) {

.fs-body-m {
    @include font( 12px, 15px)
}

.fs-body-l {
    @include font (13px, 23px)
}

.fs-s {
    @include font (12px, 15px)
}

.fs-m{
    @include font (15px, 19px)

}

.fs-l{
    @include font (18px, 23px)
}

.fs-xl{
    @include font (24px, 30px)
}

}



body{
    background-color: blue;
 }